toggleButton {
    width: 25px;
    min-width: 30px;
    display: block;
    padding: 2px;
    border: 1px black solid;
    border-radius: 30px;
    transition: 0.5s;
}

toggleSwitchCircle {
    display: block;
    width: 10px;
    height: 15px;
    border: 1px black solid;
    background-color: white;
    border-radius: 50%;
    transition: 0.5s;
}

div toggleButton {
    float: right;
}
.dark-mode {
    background-color: black;
    color: white;
}
.body{
    background-color: white;
    color: black;
}
.next,
.previous {
    padding: 15px 10px;
    border-radius: 6px;
    background: deepskyblue;
    color: white;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 100px;
}

.next.disable,
.previous.disable {
    cursor: none;
    display: none;
    opacity: .5;
}
